/* utility */

.fontWhite {
  color: #fff;
}

.header_menuBar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.shoppingCartCard_Container {
  width: 500px;
}

.ShoppingCartCard_root {
  display: flex;
  padding: 10px 0;
}

.ShoppingCartCard_image {
  width: 50%;
}

.ShoppingCartCard_details {
  flex-grow: 1;
  width: 300px;
}

.ShoppingCartCard_buttoncontainer {
  display: flex;
  justify-content: space-between;
}

.shoppingCartTotal {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.noCartItem_container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverPost {
  background-image: url("https://images.unsplash.com/photo-1483985988355-763728e1935b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  position: relative;
  margin-top: 10px;
  background-color: gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coverPost_Overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.coverPost_containt {
  padding: 40px;
  position: relative;
  z-index: 1;
}

.coverPost_heading {
  margin-bottom: 30px !important;
}

.data_container {
  margin-top: 10px;
}

.mediaCard_root {
  height: 700px;
  display: flex;
  max-width: 345px;
  flex-direction: column;
  justify-content: space-between;
}

.mediaCard_body {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  flex-grow: 3;
}

.MediaCard_image {
  height: 300px;
}

.mediaCard_button {
  width: 100%;
}

footer {
  background-color: #fafafa;
  padding: 50px 0;
}
